---
# {{ ansible_managed }}
{% set fbp = file_beat_config %}
{% for service in filebeat_logging_paths %}
{%   set prospect = {} %}
{%   set encoding = service.encoding | default('utf-8') %}
{%   set _ = prospect.update({'encoding': encoding}) %}
{%   if service.multiline is defined %}
{%     set _ = prospect.update({'multiline': service['multiline']}) %}
{%   endif %}
{%   if service['document_type'] is defined %}
{%     set _ = prospect.update({'document_type': service['document_type']}) %}
{%   endif %}
{%   if service.tags is defined %}
{%     set _ = prospect.update({'fields_under_root': true}) %}
{#     NOTE(sigmavirus24): So... filebeats 5.0 will have proper tags support, #}
{#      at which point we can remove this hack. This little piece of trickery, #}
{#      however, needs explanation. In order to send tags so that logstash will #}
{#      process them and send them to ElasticSearch, we need to hide them in the #}
{#      fields attribute on a prospector below. In order to then send the tags as a #}
{#      top-level attribute, we set fields_under_root to be true. Then all is #}
{#      happy. #}
{%     set _ = prospect.update({'fields': {'tags': service['tags']}}) %}
{%   endif %}
{%   set prospect_paths = [] %}
{%   for group in service['groups'] %}
{%     for host in groups[group] | default([]) %}
{%       if service['paths'] %}
{%         for path in service['paths'] %}
{%           set _ = prospect_paths.append(filebeat_log_store_path + '/' + host + '/' + path) %}
{%         endfor %}
{%       else %}
{%         set _ = prospect_paths.append(filebeat_log_store_path + '/' + host + '/*.log') %}
{%       endif %}
{%     endfor %}
{%   endfor %}
{%   set _ =  prospect.update({'paths': prospect_paths}) %}
{%   set _ = fbp['filebeat']['prospectors'].append(prospect) %}
{% endfor %}
{{ file_beat_config | to_nice_yaml }}